* {
    margin: 0;
    /* (바깥) 여백: 없음 */
    padding: 0;
    /* (안) 여백 : 없음 */
}

a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 10px;
}

.logo {
    width: 100px;
    margin: 0 auto;
    /* 수평-중앙 배치 */
    padding: 50px 0;
    /* 상, 하 50 픽셀 */
}

.burger {
    display: none;
    position: absolute;
    top: 80px;
    right: 7%;
}

.menu {
    padding: 20px 0;
    /* 상, 하 50 픽셀 */
    text-align: center;
    background-color: #005891;
}

.hero {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    /* 수평-중앙 배치 */
    padding: 10px 0;
    /* 상, 하 50 픽셀 */
}

.hide {
    display: none;
    /*화면에 표시 안함 */
}


.movie {
    width: 600px;
    margin: 0 auto;
    font-size: 0;
}

.movie-title {
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase; /* 대문자 */
    margin: 1rem 0 0 0; /*상->우->하->왼 순서 */
}

.movie-desc {
    font-size: 16px;
    color: #555555;
    text-align: center;
    margin: 0 0 1rem 0;
}

.social {
    text-align: center; /* 그림 = 텍스트 */
    margin: 4rem 0;
    background-color: #f3f3f3;
}

.contact {
    text-align: center;
}

.location {
    text-align: center;
    margin-bottom: 5rem;
}

.location p:nth-child(1) {
    font-size: 0.9rem;
}

.location p:nth-child(2) {
    font-size: 0.7rem;
}


.cs-center {
    font-size: 15px;
    color: #005891;
    text-transform: uppercase;
}

.tel {
    font-size: 30px;
    color: #005891;
    font-weight:bold;
    margin: 0 0 3rem 0;
}

.hanul {
    font-size: 13px;
}

.copyright {
    font-size: 11px;
    text-transform: uppercase;
}

#line {
    margin: 2rem 0;
    border-color: #005891;
}





/* 반응형 웹을 위한 미디어쿼리 삽입(Media Query) */
@media screen and (max-width: 430px) {
    .burger {
        display: block; /* block level element : 블럭요소 */
    }
   
    .menu {
        display: none; /* 표시하지 않음 */
    }

    .hero {
        width: 100%;
        height: 350px;
    }

    .hero img {
        width: 100%; /* 가로 폭 : 가득 */
        object-fit: cover; /* 오브젝트-맞춤 : 알맞게(비율에 근거해서) */
    } 
    
    .movie {
        width: 100%;
    }
    
    .movie img {
        width: 90%;
        margin: 5%;
        object-fit: cover;
    }

    .movie img:nth-of-type(2) {
        /* 2번째 이미지는 숨김 ==> 피그마 설계를 반영 */
        display: none;
    }

}
