* {
    margin: 0; /* (안) 여백: 없음 */
    padding: 0; /* (바깥) 여백 : 없음 */
}

a {
    color: #005891;
    font-size: 14px;
    text-decoration: none;

}

.logo {
    width: 100px;
    margin: 0 auto; /* 수평-중앙 배치 */
    padding: 50px 0; /* 상, 하 50 픽셀 */
}

