* {
  margin: 0;
  /* (바깥) 여백: 없음 */
  padding: 0;
  /* (안) 여백 : 없음 */
}

html, body {
  height: 100%
}

#wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

footer {
  bottom: 0;
}

a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin: 10px;
}

.wrap {
  background-color: black;
}

#closer {
  display: none;
}

.logo {
  width: 100px;
  margin: 0 auto;
  /* 수평-중앙 배치 */
  padding: 50px 0;
  /* 상, 하 50 픽셀 */
}

.opener {
  display: none;
  position: absolute;
  top: 80px;
  right: 7%;
}

.menu {
  padding: 20px 0;
  /* 상, 하 50 픽셀 */
  text-align: center;
  background-color: rgb(0,101,195);
  text-shadow:1px 1px 1px #2306a8;
  font-family: HYHeadLine medium;
}

.background {
  background-image: url(../images/bg_pattern2.jpg);
  padding-bottom: 10%;
}

.hero {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  /* 수평-중앙 배치 */
  padding: 10px 0;
  /* 상, 하 50 픽셀 */
}

.hide {
  display: none;
  /*화면에 표시 안함 */
}

.movie {
  width: 600px;
  margin: 0 auto;
  font-size: 0;
}

/* .body1, .body3, .body5 img {
  float: left;
  margin: 0 1rem 0 0;
}

.body2, .body4 img {
  float: right;
  margin: 0 0 0 5rem;
} */

.brand-body {
  width: 300px;
  margin: 0 auto;
  font-style: italic;
  font-weight: 900;
}

.brand-body img {
  width: 100%;
  object-fit: contain;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 5px;
}

.brand-body p {
  width: 100%;
  object-fit: contain;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 4px 2px 3px black;
}

.about_size1 {
  font-size: 80%;
}

.page-title {
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase; /* 대문자 */
  margin: 1rem 0 0 0; /*상->우->하->왼 순서 */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-shadow: 3px 3px 3px black;
}

.page-desc {
  font-size: 16px;
  color: #555555;
  text-align: center;
  margin: 0 0 1rem 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(128, 170, 205);
  text-shadow: 2px 2px 2px black;
}


.lookbook {
  width: 100%;
  object-fit: contain;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 5px;
}

.lookbook_small {
  width: 100%;
  object-fit: contain;
  text-align: center;
  font-size: 90px;
  margin-top: 25px;
}

.lookbook_small2 {
  width: 100%;
  object-fit: contain;
  text-align: center;
  font-size: 105px;
  margin-top: 10px;
}

.tip {
  text-align: center;
  color: white;
  height: 10rem;
}

.social {
  clear: both;
  text-align: center; /* 그림 = 텍스트 */
  /*margin: 4rem 0;*/
  background-color: rgb(0,101,195);
  height: 2.5rem;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.contact {
  text-align: center;
 /* background-color: rgb(0,101,195);*/
}

.location {
  text-align: center;
  margin-bottom: 5rem;
}

.location p:nth-child(1) {
  font-size: 0.9rem;
}

.location p:nth-child(2) {
  font-size: 0.7rem;
}

.cs-center {
  font-size: 15px;
  color: rgb(0,101,195);
  text-transform: uppercase;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow:0.5px 0.5px 0.5px rgb(0,101,195);
}

.tel {
  font-size: 30px;
  color:rgb(0,101,195);
  font-weight: bold;
  margin: 0 0 3rem 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: -1px 0 rgb(0,101,195), 0 1px rgb(0,101,195), 1px 0 rgb(0,101,195)f, 0 -1px rgb(0,101,195);
}

.hanul {
  font-size: 13px;
  color: white;
}

.copyright {
  font-size: 11px;
  text-transform: uppercase;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

#line {
  margin: 2rem 0;
  border-color: #005891;
}

#closer {
  display: none;
  font-size: 3rem;
  background-color: transparent;
  color: white;
  border: 0;
  margin: 0 0 10rem 0;
  position: relative;
  left: 16.9rem;
  top: 3rem;
}

/* =========================================== */

/* 반응형 웹을 위한 미디어쿼리 삽입(Media Query) */
@media screen and (max-width: 430px) {
  .opener {
    display: block; /* block level element : 블럭요소 */
  }

  .menu {
    display: none;
    position: fixed;
    width: 76.74418604651163%;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: rgba(2, 21, 80, 0.8);
    background-image: url(../images/mobile-bg2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .menu a {
    display: block;
    text-align: left;
  }

  #closer {
    display: block;
  }

  .hero {
    width: 100%;
    height: 350px;
  }

  .hero img {
    width: 100%; /* 가로 폭 : 가득 */
    object-fit: cover; /* 오브젝트-맞춤 : 알맞게(비율에 근거해서) */
  }

  .movie {
    width: 100%;
  }

  .movie img {
    width: 90%;
    margin: 5%;
    object-fit: cover;
  }

  .movie img:nth-of-type(2) {
    /* 2번째 이미지는 숨김 ==> 피그마 설계를 반영 */
    display: none;
  }

  .brand-body {
    width: 300px;
    font-style: italic;
    font-weight: 900;
  }

  .lookbook {
  width: 100%;
  object-fit: cover;
  }

  .lookbook_small2 {
    width: 100%;
    object-fit: cover;
    }
}
