# git이 추적,관리 하지 않을 대상을 지정하는 파일
# github에서 Repository 생성 시 만들거나, 별도로 추가할 수 있음
# 자주쓰는 .gitignore 패턴은 구글링

# ===============주로 사용되는 파일===================
# 보안 상 위험한 파일 (Key값 등이 저장 된 파일)
# 프로젝트와 무관한 파일 (zip파일이나 ppt, hwp파일 등)
# 용량이 너무 큰 것 (동영상, 스트리밍 서비스 등에 활용)
# ===================================================


# 제외 할 파일 리스트, 한 줄에 하나씩 !
# ex) asset.zip   ex) *.zip
*.zip
*.ppt
*.pptx
*.xls
*.xlsx
*.xlsm
*.doc
*.mp4
*.fig
story_line1.png
story_line2.png

# 제외 할 폴더 리스트
# ex) asset/ (asset 폴더 자체)  ex) /asset (asset 폴더 안에 있는 것)
